.main__homepage_description {
    padding: 0 15rem;
}

.hello_world {
    color: #64FFDA;
    padding-top: 10rem;
    font-size: 1rem;
    font-family: Nunito;
    letter-spacing: 2px;
}

.owner__name {
    color: #CCD6F6;
    font-size: 3.5rem;
    font-weight: 100;
    /* font-family: League; */
    font-weight: 600;
    margin: 0;
}

.owner__description {
    color: #8892B0;
    margin: 0;
    font-size: 3.5rem;
    font-weight: 600;
    font-family: sans-serif;
}

.owner__detail__description {
    color: #8892B0;
    padding: 34px 0;
    margin: 0;
    font-size: 1.1rem;
    font-family: Jost;
    line-height: 1.4rem;
    max-width: 30rem;
}

.college__name__link {
    color: #64FFDA;
    text-decoration: none;
    cursor: pointer;
}

.contact-me__button_mainpage {
    border: 1px solid #64FFDA;
    border-radius: 4px;
    color: #64FFDA;
    font-size: 1.4rem;
    font-family: Nunito;
    padding: 1rem 2.4rem;
    background: transparent;
    cursor: pointer;
}

.contact-me__button_mainpage:hover,
.contact-me__button_mainpage:active {
    background-color: #d3f5ed26;
}

@media screen and (max-width: 1240px) {
    .main__homepage_description {
        padding: 0 10rem;
    }
}

@media screen and (max-width: 1024px) {
    .main__homepage_description {
        padding: 0 8rem;
    }
}

@media screen and (max-width: 980px) {
    .main__homepage_description {
        padding: 0 3rem;
    }
}

@media screen and (max-width: 820px) {

    .main__homepage_description {
        padding: 0 5rem;
    }

    .hello_world {
        padding-top: 20rem;
    }
}

@media screen and (max-width: 778px) {
    .hello_world {
        font-size: 14px;
        padding-top: 12rem;
    }

    .owner__name {
        font-size: 44px;
    }

    .owner__description {
        font-size: 44px;
    }

    .owner__detail__description {
        font-size: 18px;
    }
}

@media screen and (max-width: 768px) {
    .main__homepage_description {
        padding: 0 2.4rem;
    }

    .hello_world {
        font-size: 0.5rem;
        padding-top: 9rem;
    }

    .owner__name {
        font-size: 2.8rem;
        padding-bottom: 10px;
    }

    .owner__description {
        font-size: 2.8rem;
    }

    .owner__detail__description {
        margin-top: 0.8rem;
        font-size: 14px;
        max-width: 28rem;
    }

    .contact-me__button_mainpage {
        font-size: 1rem;
        padding: 1rem 2rem;
        margin-top: 1.5rem;
    }
}

@media screen and (max-width: 480px) {
    .main__homepage_description {
        padding: 0 1.5rem;
    }

    .hello_world {
        font-size: 0.8rem;
        padding-top: 7rem;
    }

    .owner__name {
        font-size: 2.8rem;
    }

    .owner__description {
        font-size: 2.8rem;
    }

    .owner__detail__description {
        margin-top: 0.8rem;
        font-size: 14px;
    }

    .contact-me__button_mainpage {
        font-size: 1rem;
        padding: 1rem 2rem;
        margin-top: 2rem;
    }
}

@media screen and (max-width: 380px) {
    .owner__name {
        font-size: 2.2rem;
    }

    .owner__description {
        font-size: 2.2rem;
    }
}